.todo{
    display: flex;
    justify-content: center;
}
.table{

    border-collapse: collapse;
    text-align: center;
}
.table,th,td{
    border: 1px solid #333;
}
.amarillo{
    background-color: #FFFFCC;
}
.azul{
    background-color: #E6F3FF;
}
#gris{
    background-color: #6e6e6e88;
}
#dolar::before{
    content: url("dolar.png");

}
#euro::before{
    content: url(euro.png);
}
#libra::before{
    content:url("libra.png")
}
#yen::before{
    content: url(yen.png);
}