.contenedor{
border: 3px solid black;
padding: 10px;
width: 90%;
height: 300px;
display: flex;
flex-direction: row wrap;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.elemento{
    background-color: chocolate;
    color: white;
    text-align: center;
    margin: 5px;
   width: 30%;
   height: 30%;
}